{% import 'include.html' as include %}
{% import 'macros.html' as macros %}

<!DOCTYPE HTML>

<html>

  <head>
    <title>{% block title %}Sequoia Tree{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}?v=1">
    {{ include.css(("https://fonts.googleapis.com/css?family=Raleway:400,500",)) }}
    {{ include.static_css(('main', 'button', 'collapsible')) }}
    {% block head %}
    {% endblock %}
  </head>

  {% block prologue %}
  {% endblock %}

  <body>
    <div class="page content">
      {% block content %}
      {% endblock %}
      <br><br>
    </div>
    {% block script %}
    {% endblock %}
    {{ include.static_js(('collapsible',)) }}
  </body>

</html>
