{% extends 'base.html' %}

{% block head %}
{{ include.static_css(('text',)) }}
{% endblock %}

{% block content %}

<!-- Title -->
<div id="Title" class="center">
  <br><br>
  <p class="title">Sequoia</p>
  <br>
  <subtitle>STUDENT RESEARCHER & INSTRUCTOR</subtitle>
  <br>
  <subtitle>UC BERKELEY</subtitle>
  {{ macros.button('Curriculum Vitae', url_for('static', filename='bio/cv/Curriculum Vitae.pdf')) }}
</div>

<!-- About -->
<div>
  <p id="About" class="header">About</p>
  <hr>
  {% include 'bio.html' %}
</div>

<!-- Textbooks -->
<div>
  <p id="Textbooks" class="header">Textbooks</p>
  <hr>
  {% for textbook in TEXTBOOKS %}
    {{ macros.start_collapsible(textbook.title) }}
      {% for chapter in textbook.chapters %}
        <br/><a href="{{ url_for(chapter.renderer) }}">{{ chapter.title }}</a><br/>
      {% endfor %}
    {{ macros.end_collapsible() }}
  {% endfor %}
  <!-- START TEMPORARY SECTION -->
  <p style="font-size: 12.5pt;">The following PDFs are complete, but soon I will rewrite them and add better, more comprehensive versions to the textbook above. After I do that, the following links will no longer work.</p>
  <a href="/TEMPORARY/Recursion.pdf">Recursion</a><br/>
  <br/>
  <a href="/TEMPORARY/Counting Problems.pdf">Counting Problems</a><br/>
  <br/>
  <a href="/TEMPORARY/Objects.pdf">Objects</a><br/>
  <br/>
  <a href="/TEMPORARY/Orders of Growth.pdf">Orders of Growth</a><br/>
  <br/>
  <a href="/TEMPORARY/Iterators and Generators.pdf">Iterators and Generators</a><br/>
  <br/>
  <a href="/TEMPORARY/Scheme.pdf">Scheme</a><br/>
  <br/>
  <!-- END TEMPORARY SECTION -->
</div>

<!-- Contact -->
<div>
  <p id="Contact" class="header">Contact</p>
  <hr>
  <p>{{ contact }}</p>
</div>

<!-- License -->
<hr>
<div class="footer">
  <p>All content on this website is protected under a <a href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons BY-NC 4.0 license</a>.
  </p>
</div>

{% endblock %}
