{% extends 'base.html' %}

{% block title %}{{ resource.title }}{% endblock %}

{% block head %}
{{ include.css((
       "https://fonts.googleapis.com/css?family=Work+Sans:400,700",
       "https://fonts.googleapis.com/css?family=PT+Mono",
       "https://use.fontawesome.com/releases/v5.1.0/css/all.css",
   ))
}}
{{ include.static_css(('textbook', 'navbar', 'dropdown', 'slider')) }}
{{ include.js(("https://code.jquery.com/jquery-3.3.1.slim.min.js",)) }}
{{ include.static_js(('textbook', 'display')) }}
{{ include.mathjax() }}
{% endblock %}

{% block prologue %}
{{ macros.start_navbar() }}
  {{ macros.start_dropdown('More Chapters', 'chapter-dropdown') }}
    {% for chapter in resource.textbook.chapters %}
      <a href="{{ url_for(chapter.renderer) }}">{{ chapter.title }}</a>
    {% endfor %}
  {{ macros.end_dropdown() }}
  {% if is_practice %}
    <a href="{{ url_for(resource.chapter.renderer) }}">Review</a>
  {% elif resource.practice %}
    <a href="{{ url_for(resource.practice.renderer) }}">Practice</a>
  {% endif %}
{{ macros.end_navbar() }}
{% endblock %}

{% block script %}
{{ include.static_js(('slider',)) }}
{% endblock %}
