{% extends 'textbook.html' %}

{% block content %}

<h1 id="defining-lambda-functions">Defining <code>lambda</code> functions</h1>
<p>Consider the code below. It does two things.</p>
<pre class="highlight"><code>def five():
    return 5</code></pre>

<p>First of all, it creates a new function whose output is 5. Second, it makes the variable <code>five</code> point at that function.</p>
<p>{{ resource.assets['def-five'] }}</p>
<p>To be honest, though, that syntax is a little weird. If I want to bind <code>five</code> to the number 5, I write <code>five = 5</code>. If I want to bind it to the string <code>'five'</code>, I write <code>five = 'five'</code>. If I want to make <code>five</code> point to a function that returns 5, why can't I do something similar? Why not something like <code>five = &lt;pointer at a function that returns 5&gt;</code>? That's where the <code>lambda</code> keyword comes in.</p>
<h2 id="syntax-for-defining-lambda-functions">Syntax for defining <code>lambda</code> functions</h2>
<p>A <code>lambda</code> expression <strong>directly evaluates to a pointer at a function</strong>, in the same way that an arithmetic expression directly evaluates to a number. <code>lambda</code> expressions follow this format:</p>
<pre class="highlight"><code>lambda PARAMETERS: RETURN VALUE</code></pre>

<p>For example <code>lambda: 5</code> is a pointer at a function named "λ", which has no parameters and returns 5. You could bind the variable <code>five</code> to that pointer, by writing something like <code>five = lambda: 5</code>.</p>
<p>{{ resource.assets['lambda-five'] }}</p>
<p>Now we have a variable that points at a function. We can call it in the usual way.</p>
<pre class="highlight"><code>&gt;&gt;&gt; five = lambda: 5
&gt;&gt;&gt; five()
5</code></pre>

<p>Meanwhile <code>lambda x: x</code> is a pointer at a function named "λ", which simply returns its input. You could bind the variable <code>identity</code> to that pointer, by writing something like <code>identity = lambda x: x</code>.</p>
<p>{{ resource.assets['lambda-identity'] }}</p>
<pre class="highlight"><code>&gt;&gt;&gt; identity = lambda x: x
&gt;&gt;&gt; identity(4)
4</code></pre>

<p>It's also possible to use the <code>lambda</code> keyword to make a function that takes in multiple arguments. For instance, consider <code>average = lambda x, y: (x + y) / 2</code>.</p>
<p>{{ resource.assets['lambda-average'] }}</p>
<pre class="highlight"><code>&gt;&gt;&gt; average = lambda x, y: (x + y) / 2
&gt;&gt;&gt; average(4, 8)
6.0</code></pre>

<p>The takeaway? A <code>lambda</code> expression evaluates to a pointer at a function. So when we bind a variable to a <code>lambda</code> expression, that binds the variable to a pointer at a function. Then we can use the variable to call the function like we're used to.</p>
<h2 id="def-statements-versus-lambda-expressions"><code>def</code> statements versus <code>lambda</code> expressions</h2>
<p>So ... what's the difference between a <code>def</code> statement and a <code>lambda</code> expression?</p>
<p>A <code>def</code> statement creates a function and binds it to a variable, whereas a <code>lambda</code> expression creates a function without binding it to a variable. It's up to you what to do with that <code>lambda</code> function — bind it to a variable, call it, whatever. In this way, <code>def</code> is just a shorthand way of making a function and binding it to a variable at the same time, without having to explicitly assign the variable using the <code>=</code> operator.</p>
<p>The most important difference is what you can actually do with them. Within a <code>def</code> statement you can assign local variables, evaluate chains of <code>if</code> / <code>elif</code> / <code>else</code> statements, and do iteration with <code>while</code> loops. A <code>lambda</code> expression is much more limited. You have your parameters before the colon, and your output after the colon. There's no room to do anything else, like variable assignment or boolean logic or iteration. Literally, a <code>lambda</code> expression lets you return a value, and do nothing else.</p>
<p>That means you can also rewrite <code>lambda</code> expressions as one-line <code>def</code> statements, if you so desire. This might help you get used to them, when you're just starting out. For example, these two snippets of code are basically the same:</p>
<pre class="highlight"><code>add = lambda x, y: x + y</code></pre>

<pre class="highlight"><code>def add(x, y):
    return x + y</code></pre>

<p>Make sure you understand everything we've covered so far in this chapter, before reading on.</p>
<h1 id="pyagrams-with-lambda-functions">Pyagrams with <code>lambda</code> functions</h1>
<p>In the previous section we saw a few examples of how to draw <code>lambda</code> functions in pyagrams. Now it's time to go into more detail.</p>
<h2 id="evaluating-lambda-expressions">Evaluating <code>lambda</code> expressions</h2>
<p>Remember, a <code>lambda</code> expression literally evaluates to a pointer at a function. As we saw earlier the function is named "λ", and as with any function in a pyagram, we write its inputs in parentheses after its name.</p>
<pre class="highlight"><code>add = lambda x, y: x + y</code></pre>

<p>{{ resource.assets['lambda-add'] }}</p>
<p>Each time you read the word <code>lambda</code>, it evaluates to a new pointer at a new <code>lambda</code> function, even if that results in having two identical <code>lamdba</code> functions. That's because each <code>lambda</code> expression is evaluated individually. This code, for instance, creates two separate <code>lambda</code> functions that both return 5.</p>
<pre class="highlight"><code>f = lambda: 5
g = lambda: 5</code></pre>

<p>{{ resource.assets['different-but-identical-lambdas'] }}</p>
<p>Meanwhile this code creates only one <code>lambda</code> function. Then it copies the pointer down from <code>f</code> into <code>g</code> like we learned how to do when we first learned about functions and pointers.</p>
<pre class="highlight"><code>f = lambda: 5
g = f</code></pre>

<p>{{ resource.assets['two-pointers-to-same-lambda'] }}</p>
<p>Also, a <code>lambda</code> function's parent frame is the frame you're in when you actually read the word <code>lambda</code>. (This is similar to how the parent of a normal function is the frame you're in when you read the word <code>def</code>.) In the code below, we evaluate the <code>lambda</code> expression in frame 1 so its parent is frame 1.</p>
<pre class="highlight"><code>def make_square():
    return lambda x: x ** 2

square = make_square()</code></pre>

<p>{{ macros.slider('make-square', sequence(resource, 'make-square')) }}</p>
<p>So in summary:</p>
<ul>
<li>Whenever you read the word <code>lambda</code>, it evaluates to a new pointer at a new <code>lambda</code> function, even if that results in having two identical <code>lambda</code> functions.</li>
<li>The parent of the <code>lambda</code> function is the frame where you read the word <code>lambda</code>.</li>
</ul>
<h2 id="practice-evaluating-the-same-lambda-expression-twice">Practice: evaluating the same <code>lambda</code> expression twice</h2>
<p>Consider this modification of the example from the previous section:</p>
<pre class="highlight"><code>def make_square():
    return lambda x: x ** 2

square_1 = make_square()
square_2 = make_square()</code></pre>

<p>{{ macros.slider('make-square-twice', sequence(resource, 'make-square-twice')) }}</p>
<p>Check that you agree with this example, before you continue.</p>
<h2 id="telling-apart-different-lambda-functions">Telling apart different <code>lambda</code> functions</h2>
<p>Occasionally you'll be working with multiple <code>lambda</code> functions, and it can be hard to remember which is which. For instance, take a look at this extension of the same example from before:</p>
<pre class="highlight"><code>&gt;&gt;&gt; def make_square():
...     return lambda x: x * x
...
&gt;&gt;&gt; square_1 = make_square()
&gt;&gt;&gt; square_2 = make_square()
&gt;&gt;&gt; square_3 = lambda x: 1 / 0
&gt;&gt;&gt; square_2(4)
16</code></pre>

<p>Here's the pyagram, right before the last line gets executed:</p>
<p>{{ resource.assets['ambiguous-lambdas'] }}</p>
<p>Now we're at the function call <code>square_2(4)</code>. But there's a problem. Which <code>lambda</code> function does <code>square_2</code> correspond to? Is it the one that squares its input, or the one that tries to divide by 0? The pyagram shows us <code>square_2</code> is bound to a function named "λ", but it doesn't show us <em>which</em> <code>lambda</code> expression to look at in the code.</p>
<p>To deal with this, we're going to write a little number next to every <code>lambda</code> expression in our code. This will help us tell them apart. Then, when we draw the pyagram, we'll write the corresponding number next to every <code>lambda</code> function that we create. Let's start by annotating our code:</p>
<pre class="highlight"><code>&gt;&gt;&gt; def make_square():
...     return lambda<sub>1</sub> x: x * x
...
&gt;&gt;&gt; square_1 = make_square()
&gt;&gt;&gt; square_2 = make_square()
&gt;&gt;&gt; square_3 = lambda<sub>2</sub> x: 1 / 0
&gt;&gt;&gt; square_2(4)
16</code></pre>

<p>Now when we draw <code>lambda<sub>1</sub></code> in our pyagram we'll name the function "λ<sub>1</sub>" rather than "λ", and when we draw <code>lambda<sub>2</sub></code> in our pyagram we'll name the function "λ<sub>2</sub>".</p>
<p>{{ resource.assets['unambiguous-lambdas'] }}</p>
<p>With this modification to the pyagram, it shows that <code>square_2</code> in the global frame corresponds to <code>lambda<sub>1</sub></code> in our code. So when it's time to do the function call <code>square_2(4)</code>, it's easy to see we should do <code>4 * 4</code> rather than <code>1 / 0</code>.</p>
<h2 id="practice-a-lambda-function-as-an-argument">Practice: a <code>lambda</code> function as an argument</h2>
<p>This may get confusing. If you find yourself lost, refer back to <a href="functions.html#the-order-of-evaluation">the procedure for drawing pyagrams</a>. Draw the pyagram for this code:</p>
<pre class="highlight"><code>def f(x, g):
    y = g() + g()
    return lambda y: x + y

x = 10
y = f(x - 9, lambda: x)(x)</code></pre>

<p>First let's number the <code>lambda</code> expressions so we can tell them apart later. Here's the code after we annotate it, like we just learned in the previous section:</p>
<pre class="highlight"><code>def f(x, g):
    y = g() + g()
    return lambda<sub>1</sub> y: x + y

x = 10
y = f(x - 9, lambda<sub>2</sub>: x)(x)</code></pre>

<p>{{ macros.slider('lambda-argument', sequence(resource, 'lambda-argument')) }}</p>
<p>Again, if this exercise was confusing you may want to review <a href="functions.html#the-order-of-evaluation">the procedure for drawing pyagrams</a>. In fact, you may even want to skim or re-read some of the stuff in the sections above, just to check that everything jives with you. <code>lambda</code> functions can be a tricky topic, but they're something you should get familiar with.</p>
<h1 id="calling-lambda-functions">Calling <code>lambda</code> functions</h1>
<p>Now that we're familiar with defining <code>lambda</code> functions, let's talk about how to use them. Calling a <code>lambda</code> function is pretty much the same as calling any regular function, but there are a few subtle points that we should talk about explicitly.</p>
<h2 id="calling-lambda-functions-on-the-spot">Calling <code>lambda</code> functions on-the-spot</h2>
<p>So far we've only been able to call a <code>lambda</code> function by first binding a variable to it. In the code below, for instance, we make <code>square</code> point to the function created by the <code>lambda</code> expression. Then we are able to call the function in the usual way by writing <code>square(4)</code>.</p>
<pre class="highlight"><code>&gt;&gt;&gt; square = lambda x: x * x
&gt;&gt;&gt; square(4)
16</code></pre>

<p>But we could also just plug in the value of <code>square</code> directly:</p>
<pre class="highlight"><code>&gt;&gt;&gt; (lambda x: x * x)(4)
16</code></pre>

<p>The only difference is that now we're creating the squaring function on-the-spot when we evaluate <code>(lambda x: x * x)</code>, rather than referring to it with the variable <code>square</code>. The important thing is that <code>(lambda x: x * x)(4)</code> is still a function call, since it has both a function and an argument in parentheses. (The function is <code>(lambda x: x * x)</code> and 4 is the argument in parentheses.)</p>
<p>Brief aside here, also notice how we had to use parentheses around the <code>lambda</code> expression. That's important. Without the parentheses you get <code>lambda x: x * x(4)</code>, which is a function that seems to take a parameter <code>x</code> and then multiply <code>x</code> with the result of a function call <code>x(4)</code>. Whenever you want to call a <code>lambda</code> function on-the-spot like this, you should use parentheses to denote exactly what is part of the <code>lambda</code> expression, and what isn't.</p>
<p>Here's another example, where we use a <code>lambda</code> expression to get the average of 4 and 8. In this case the function is <code>(lambda x, y: (x + y) / 2)</code>, and the arguments in parentheses are 4 and 8.</p>
<pre class="highlight"><code>&gt;&gt;&gt; (lambda x, y: (x + y) / 2)(4, 8)
6.0</code></pre>

<h2 id="review-functions-and-function-calls">Review: functions and function calls</h2>
<p>Sometimes this stuff can get tricky. To avoid getting confused, you should get good at telling the difference betwen a function and a function call. Functions can either be bound to variables, or created on-the-spot by a <code>lambda</code> expression. When either of these things are followed by parentheses, that's a function call. For example:</p>
<pre class="highlight"><code>&gt;&gt;&gt; identity         # Function.
&gt;&gt;&gt; identity(4)      # Function call.
&gt;&gt;&gt; lambda x: x      # Function.
&gt;&gt;&gt; (lambda x: x)(4) # Function call.</code></pre>

<p>Also, be careful to evaluate things only when you should. Remember how you only do the stuff inside a <code>def</code> statement, once you call the function? The same goes for <code>lambda</code> expressions. You only do the stuff after the colon once you call the function. This is a pretty common mistake so be vigilant. Consider this code for example:</p>
<pre class="highlight"><code>both_prime = lambda x, y: is_prime(x) and is_prime(y)</code></pre>

<p>This binds <code>both_prime</code> to a pointer at a function. It does not yet call any functions. The calls to <code>is_prime</code> only happen after you call <code>both_prime</code>.</p>

{% if not is_practice and resource.practice %}
{{ macros.button('Practice', url_for(resource.practice.renderer)) }}
{% endif %}

{% endblock %}
