.collapsible {
  color: black;
  font-size: 17pt;
  padding: 0.5rem 1rem;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  background-color: #ecf0f1;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.active-collapsible, .collapsible:hover {
  background-color: #d9e1e3;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.collapsible:after {
  content:'\002b';
  color: black;
  float: right;
  margin-left: 5px;
}

.active-collapsible:after {
  content: '\2212';
}

.collapsible-content {
  padding: 0.5rem 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
}
