.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  padding: 15px 16px;
  border: none;
  outline: none;
  font-size: 13pt;
  color: #ecf0f1;
  background-color: inherit;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  width: 735px;
  max-height: 80vh;
  background-color: #ecf0f1;
  overflow: scroll;
  z-index: 3;
}

.dropdown-content a {
  display: block;
  float: none;
  padding: 12px 16px;
  text-align: left;
  font-size: 12.5pt;
  color: #000000;
}

@media screen and (max-width: 780px) {
  .dropdown-content {
    left: 0;
    width: 100vw;
  }
}

.dropdown .dropbtn:hover {
  color: #ffffff;
}

.dropdown-content a:hover {
  color: #000000;
  background-color: #d9e1e3;
}
