.slider-box {
  border-radius: 10px;
  background-color: #ecf0f1;
  padding: 15px;
}

.slide-toggle, .caption-toggle {
  display: none;
}

.slide {
  border-radius: 7px;
  background-color: #ffffff;
  padding: 10px;
}

.caption {
}

.caption p {
  margin: 0;
}

.caption code {
  background-color: #d9e1e3;
}

.slider-bar {
  margin: 5px 0;
}

.slider {
  -webkit-appearance: none;
  width: 99%;
  height: 10px;
  border-radius: 5px;
  background: #d9e1e3;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1E8511;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1E8511;
  cursor: pointer;
}
