.title {
  display: inline;
  font-size: 60pt;
  font-weight: 500;
  color: black;
}

subtitle {
  font-size: 17pt;
  color: black;
}

.header {
  display: inline;
  font-size: 30pt;
  font-weight: 500;
}

.footer p, .footer a {
  font-size: 8pt;
}
